@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html {
  scroll-behavior: smooth;
}




* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;


}

.body-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #05091f;
}




body{
				background: #05091f;
			}

			.socket{
				width: 200px;
				height: 200px;
				position: absolute;
				left: 50%;
				margin-left: -100px;
				top: 50%;
				margin-top: -100px;
			}

			.hex-brick{
			  width: 30px;
			  height: 17px;
			  position: absolute;
			  top: 5px;
        animation-name: fade;
				animation-duration: 2s;
				-webkit-animation-name: fade;
				-webkit-animation-duration: 2s;
			}

			.h2{
				transform: rotate(60deg);
				-webkit-transform: rotate(60deg);
			}

			.h3{
				transform: rotate(-60deg);
				-webkit-transform: rotate(-60deg);
			}

			.gel{
				height: 30px;
				width: 30px;
				transition: all .3s;
				-webkit-transition: all .3s;
				position: absolute;
        top: 50%;
        left: 50%;
			}

			.center-gel{
				margin-left: -15px;
				margin-top: -15px;

				animation-name: pulse;
				animation-duration: 2s;
				-webkit-animation-name: pulse;
				-webkit-animation-duration: 2s;
			}

			.c1{
				margin-left: -47px;
				margin-top: -15px;
			}

			.c2{
				margin-left: -31px;
				margin-top: -43px;
			}

			.c3{
				margin-left: 1px;
				margin-top: -43px;
			}

			.c4{
				margin-left: 17px;
				margin-top: -15px;
			}
			.c5{
				margin-left: -31px;
				margin-top: 13px;
			}

			.c6{
				margin-left: 1px;
				margin-top: 13px;
			}

			.c7{
				margin-left: -63px;
				margin-top: -43px;
			}

			.c8{
				margin-left: 33px;
				margin-top: -43px;
			}

			.c9{
				margin-left: -15px;
				margin-top: 41px;
			}

			.c10{
				margin-left: -63px;
				margin-top: 13px;
			}

			.c11{
				margin-left: 33px;
				margin-top: 13px;
			}

			.c12{
				margin-left: -15px;
				margin-top: -71px;
			}

			.c13{
				margin-left: -47px;
				margin-top: -71px;
			}

			.c14{
				margin-left: 17px;
				margin-top: -71px;
			}

			.c15{
				margin-left: -47px;
				margin-top: 41px;
			}

			.c16{
				margin-left: 17px;
				margin-top: 41px;
			}

			.c17{
				margin-left: -79px;
				margin-top: -15px;
			}

			.c18{
				margin-left: 49px;
				margin-top: -15px;
			}

			.c19{
				margin-left: -63px;
				margin-top: -99px;
			}

			.c20{
				margin-left: 33px;
				margin-top: -99px;
			}

			.c21{
				margin-left: 1px;
				margin-top: -99px;
			}

			.c22{
				margin-left: -31px;
				margin-top: -99px;
			}

			.c23{
				margin-left: -63px;
				margin-top: 69px;
			}

			.c24{
				margin-left: 33px;
				margin-top: 69px;
			}

			.c25{
				margin-left: 1px;
				margin-top: 69px;
			}

			.c26{
				margin-left: -31px;
				margin-top: 69px;
			}

			.c27{
				margin-left: -79px;
				margin-top: -15px;
			}

			.c28{
				margin-left: -95px;
				margin-top: -43px;
			}

			.c29{
				margin-left: -95px;
				margin-top: 13px;
			}

			.c30{
				margin-left: 49px;
				margin-top: 41px;
			}

			.c31{
				margin-left: -79px;
				margin-top: -71px;
			}

			.c32{
				margin-left: -111px;
				margin-top: -15px;
			}

			.c33{
				margin-left: 65px;
				margin-top: -43px;
			}

			.c34{
				margin-left: 65px;
				margin-top: 13px;
			}

			.c35{
				margin-left: -79px;
				margin-top: 41px;
			}

			.c36{
				margin-left: 49px;
				margin-top: -71px;
			}

			.c37{
				margin-left: 81px;
				margin-top: -15px;
			}

			.r1{
				animation-name: pulse;
				animation-duration: 2s;
				animation-delay: .2s;
				-webkit-animation-name: pulse;
				-webkit-animation-duration: 2s;
				-webkit-animation-delay: .2s;
			}

			.r2{
				animation-name: pulse;
				animation-duration: 2s;
				animation-delay: .4s;
				-webkit-animation-name: pulse;
				-webkit-animation-duration: 2s;
				-webkit-animation-delay: .4s;
			}

			.r3{
				animation-name: pulse;
				animation-duration: 2s;
				animation-delay: .6s;
				-webkit-animation-name: pulse;
				-webkit-animation-duration: 2s;
				-webkit-animation-delay: .6s;
			}

			.r1 > .hex-brick{
				animation-name: fade;
				animation-duration: 2s;
				animation-delay: .2s;
				-webkit-animation-name: fade;
				-webkit-animation-duration: 2s;
				-webkit-animation-delay: .2s;
			}

			.r2 > .hex-brick{
				animation-name: fade;
				animation-duration: 2s;
				animation-delay: .4s;
				-webkit-animation-name: fade;
				-webkit-animation-duration: 2s;
				-webkit-animation-delay: .4s;
			}

			.r3 > .hex-brick{
				animation-name: fade;
				animation-duration: 2s;
				animation-delay: .6s;
				-webkit-animation-name: fade;
				-webkit-animation-duration: 2s;
				-webkit-animation-delay: .6s;
			}


			@keyframes pulse{
				0%{
					-webkit-transform: scale(1);
					transform: scale(1);
				}

				50%{
					-webkit-transform: scale(0.01);
					transform: scale(0.01);
				}

				100%{
					-webkit-transform: scale(1);
					transform: scale(1);
				}
			}

			@keyframes fade{
				0%{
					background: #ff022c;
				}

				50%{
					background: #64ffda;
				}

				100%{
					background: #64ffda;
				}
			}

			@-webkit-keyframes pulse{
				0%{
					-webkit-transform: scale(1);
					transform: scale(1);
				}

				50%{
					-webkit-transform: scale(0.01);
					transform: scale(0.01);
				}

				100%{
					-webkit-transform: scale(1);
					transform: scale(1);
				}
			}

			@-webkit-keyframes fade{
				0%{
					background: #64ffda;
				}

				50%{
					background: #ABF8FF;
				}

				100%{
					background: #64ffda;
				}
			}





      .hy {
        font-size: 3em;
        color: #fff;
        border-right: 0px solid #05091f;
        transform: translateY(-50%);
        white-space: nowrap;
        overflow: hidden;
        font-weight: 400;
        /* width: 0; */
      }

      .hy-span {
        color: #ff022c;
      }


      .w-span {
        color: #ff022c;
      }







      .wel {
        animation: cur_2 0.7s steps(17) 4.5s 4 normal,
                   hy_part 2.1s steps(17) 4.5s 1 normal both,
                   /* wel_part 1.7s steps(17) 2s 1 forwards, */
                   cursor_hy_wt 0.6s steps(17) 7.5s 3 normal,
                   cur_2 0.7s steps(17) 8.8s 3 normal,
                   exit_all 1s steps(17) 9.1s forwards,
                   cursor_last 0.6s steps(17) 10.2s 4 normal;


        /* animation-delay: 3s; */






        /* animation: typewritter-text_wl 1.7s steps(12) 5s 1 forwards,
                   cursor_wl 0.6s steps(12) 5s 6 normal,
                   exit_wel 1s steps(12) 8.6s forwards,
                   cursor_wl 0.6s steps(12) 6.7s 5 normal; */
                   /* blk_wel .8s step-end infinite; */
      }


      @keyframes hy_part {
        0% {
          width: 0;
        }
        100% {
          width: 16.5ch;
        }

      }




      @keyframes cursor_hy_wt {
        0% {
        	border-right: 2px solid #fff;
          border-right-color: #fff;
        }

        100% {
          border-right-color: transparent;

        }

      }


      @keyframes wel_part {
        0% {
          width: 0;
        }
        100% {
          width: 17ch;
        }
      }




      @keyframes cur_2 {
        0% {
        	border-right: 2px solid #fff;
          border-right-color: #fff;

        }

        100% {
          border-right-color: #fff;
        }
      }



      @keyframes exit_all {
        0% {
        	border-right: 2px solid #fff;
          width: 17ch;
        }
        100% {
          width: 0;
        }

      }




      @keyframes cursor_last {
        0% {
        	border-right: 2px solid #fff;
          border-right-color: #fff;
        }


        100% {
          border-right-color: transparent;
        }

      }










/* 2nd css */








body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #05091f;
}

li, a, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-decoration: none;

}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 17px 3.5%;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #05091f;
  /* padding-bottom: -10px; */
  /* margin-bottom: -10px;
  margin-top: -10px; */
  /* display: solid; */
}







.log_1_hm {
  font-size: 20px;
  color: #ff022c;

}

.log_2_hm {
  font-size: 20px;
  color: #fff;

}


.logo {
  cursor: pointer;
  margin-right: auto;
  /* font-size: 20px; */

}

.nav_link {
  list-style: none;
}

.nav_link li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_link li a {
  transition: all 0.3s ease 0s;
}
/*
.nav_link li a:hover {
  color: #64ffda;
} */

button {
  /* margin-left: 20px; */
  padding: 6px 10px;
  background-color: #05091f;
  color: #64ffda;
  border: 1px solid #64ffda;
  /* border: none; */
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

}

button:hover {
  background-color: #64ffda;
  color: #05091f;


}


.btnn {
  margin-left: -15px;

}


.btnn_1 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #0000FF;

}



/* 1 */
.btnn_1:hover {
  background-color: #0000FF;
  color: #05091f;
  font-weight: bold;
  box-shadow: 0 0 5px #0000FF,
              0 0 25px #0000FF,
              0 0 50px #0000FF,
              0 0 80px #0000FF;

}
.btnn_skl {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #FF0000;

}



/* 2 */
.btnn_skl:hover {
  background-color: #FF0000;
  color: #05091f;
  font-weight: bold;
  box-shadow: 0 0 5px #FF0000,
              0 0 25px #FF0000,
              0 0 50px #FF0000,
              0 0 80px #FF0000;

}








.btnn_2 {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #FF00FF;

}



/* 2 */
.btnn_2:hover {
  background-color: #FF00FF;
  color: #05091f;
  font-weight: bold;
  box-shadow: 0 0 5px #FF00FF,
              0 0 25px #FF00FF,
              0 0 50px #FF00FF,
              0 0 80px #FF00FF;

}







/* 3 */

.btnn_3 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #00FF00;


}



.btnn_3:hover {
  background-color: #00FF00;
  color: #05091f;
  font-weight: bold;
  box-shadow: 0 0 5px #00FF00,
              0 0 25px #00FF00,
              0 0 50px #00FF00,
              0 0 80px #00FF00;

}



/* 4 */


.btnn_4 {
  padding-left: 3px;
  padding-right: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #FFFF00;

}



.btnn_4:hover {
  background-color: #FFFF00;
  color: #05091f;
  font-weight: bold;
  box-shadow: 0 0 5px #FFFF00,
              0 0 25px #FFFF00,
              0 0 50px #FFFF00,
              0 0 80px #FFFF00;

}


/* 5 */

.btnn_5 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}



.btnn_5:hover {
  background-color: #fff;
  color: #05091f;
  font-weight: bold;
  box-shadow: 0 0 5px #fff,
              0 0 25px #fff,
              0 0 50px #fff,
              0 0 80px #fff;

}




.p_1st {
  color: #64ffda;
  font-size: 20px;
  padding-left: 200px;
  padding-top: 70px;
}

.h1_susho {
  color: #ccd6f6;
  font-size: 50px;
  font-weight: lighter;
  padding-left: 200px;
  padding-top: 10px;
  /* padding-bottom: 50px; */
  /* shadow: button; */
}


#h2_paddding {
  padding-left: 200px;
}





.i_build {
  color: #a8b2d1;
  font-size: 50px;
  font-weight: lighter;
  /* padding-left: 200px; */
  /* margin-left: 200px; */
  /* margin: auto; */
  /* margin-left: auto; */
  /* padding-right: 300px; */

  /* padding-top: 200px; */
  /* margin-top: 120px; */
}

.h3_iam {
  color: #8892b0;
  font-size: 17px;
  /* padding-left: 120px; */
  padding-top: 70px;
  padding-right: 300px;
  /* margin-left: 200px; */
  padding-left: 130px;
}


.verticle_right {
  writing-mode: vertical-rl;
  color: #8892b0;
  font-size: 14px;
  padding-right: 50px;
  /* padding-left: 20px; */

}



#contain_iam_verti {
    display: flex;
    justify-content: space-beteen;
    margin-bottom: 80px;
}


#icon_links_left {
  padding-left: 50px;
  /* padding-top: 90px; */
}






/* icon */



.fa-github {
  color: #a8b2d1;
  /* margin-top: 100px; */
  /* padding-top: 100px; */
  /* padding-left: 0px; */
  /* height: 8px;
  width: 8px; */
  /* padding-top: 90px;
  position: relative;
  left: 50px; */
  cursor: pointer;
}

.fa-hackerrank {
  color: #a8b2d1;
  padding-top: 30px;
  /* padding-left: 40px;
  height: 8px;
  width: 8px;
  padding-top: 150px; */
  cursor: pointer;

}

.fa-linkedin-in {
  color: #a8b2d1;
  padding-top: 30px;

  /* padding-left: 0px; */
  /* height: 8px; */
  /* width: 8px; */
  /* padding-top: 210px; */
  cursor: pointer;


}


.fa-facebook-f {
  color: #a8b2d1;
  padding-top: 30px;


  cursor: pointer;


}



.fab:hover {
  color: #64ffda;
}







.vertical_dash_left {
  writing-mode: vertical-rl;
  color: #8892b0;
  font-size: 13px;
}



.buttn_connect {
  /* padding-top: 60px; */
  position: relative;
  top: 115px;
  padding-bottom: 20px;
  /* left: -20px; */
  font-weight: bold;

}











/* about */



#about_body {
  margin-top: 190px;
  margin-bottom: -13px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}



.container_box_about {
  position: relative;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0 120px;
  /* margin-bottom: 400px; */

  /* z-index: 1; */
}

._box_about{
  margin-bottom: 100px;
}

.container_box_about ._box_about {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  /* z-index: /1; */
}

/* #000 */



.container_box_about ._box_about:before {


  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  transform: skew(5deg, 5deg);
  /* z-index: -1; */


}




.container_box_about ._box_about:nth-child(1):before {
  background: linear-gradient(315deg,#e91e63,#5d02ff);
}



/* #ff0057,#e64a19 */






.contain_box_about {
  position: relative;
  padding: 20px;

}



._box_about .contain_box_about h3 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}



._box_about .contain_box_about p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  /* font-weight: 500; */
  color: #fff;

}








/* seconnnnnnddddd box */









.box {
  position: relative;
  height: 50vh;
  background: #05091f;
  border: 0px solid #000;
  margin: 2vw;
  /* margin-top: 200px; */
}

.box::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #FFF;
  transform: skew(2deg, 2deg);
  z-index: -1;
}

.box:nth-child(n+1)::before {
  background: linear-gradient(315deg, #E91E63, #5D02FF);
}

.box:nth-child(2n)::before {
  transform: skew(-2deg, -2deg);
}

.box:nth-child(3n + 1)::before {
  transform: skew(-2deg, 2deg);
}


.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 45px; */
}












/* jumbo */


.jumbo_1 {
  width: 100%;
  background: #8892b0;
  display: block;

}



.jumbo_2 {
  width: 85%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}




.box_glow{ position: relative; width: 900px; height: 450px; display: flex; justify-content: center; align-content: center; background: #060c21; padding:25px;}
.box_glow::before{ content: ''; position: absolute; top: -2px; bottom: -2px; left: -2px; right: -2px; background: #fff; z-index: -1;}
.box_glow::after{ content: ''; position: absolute; top: -2px; bottom: -2px; left: -2px; right: -2px; background: #fff; z-index: -1; filter: blur(40px);}
.box_glow::before, .box_glow::after{ background: linear-gradient(235deg, #FF0000, #060c21, #0000FF);}
.glow_h2{ margin-bottom: 10px;}
.glow_p{line-height: 24px;}

.box_glow {
  margin: auto;

}

.glow_box_top {
  padding-bottom: 200px;
}

.glow_h2 {
  color: #64ffda;
  font-weight: lighter;
}


.glow_div {
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  /* margin-top: 0; */
  padding-top: 0px;

}


.glow_div_2 {
  padding: 32px 40px;
  justify-content: center;
}

.glow_h2_skl {
  padding: 10px;
  font-size: 19px;
  color: #a8b2d1;

}

.glow_div_ul {
  padding: 10px;
  padding-left: 30px;
  /* color: #a8b2d1; */
}
li {
  padding: 3px;
}





/* footer */


.footer_ {
  width: 100%;
  background: #b11ee9;
  display: block;
}

.footer_inner {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom: -10px;

}

.footer_items {
  width: 30%;
  padding: 10px 20px;
}


.footer_h2 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  padding-left: 30%;
  padding-bottom: 10px;
  margin-top: -14px;
}

.border_foot {
  height: 2px;
  width: 350px;
  background: #05091f;

}

.foot_ul {
  list-style: none;
   color: #fff;
   font-size: 15px;
   letter-spacing: 0.5px;
   padding-left: 15%;
   padding-top: 15px;

}

.foot_ul .foot_a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;


}

.foot_ul .foot_a:hover {
  color: #5D02FF;

}

.foot_ul li {
  margin: 5px 0;
  height: 20px;
  justify-content: center;
  align-items: center;

}
li i {
  margin-right: 20px;
  padding-left: 20px;

}



.footer_bottom {
  padding: 10px;
  font-size: 14px;
  padding-left: 42%;
  margin-top: -20px;
  padding-bottom: 30px;
}








@media screen and (max-width: 1085px){
  .footer_items {
    width: 50%;
  }

}
